<div class="success-page">

	<div class="success-title">Payment Successful</div>

    <div class="thanks-msg">Thank you very much for your purchase</div>

    <div class="order-recap">
        <div class="order-recap-title">Order Recap:</div>
        <div class="summary-panel">
            <div class="label">1. Black Label - Rs.1400</div>
            <div class="label">2. Red Label - Rs. 1200</div>
        </div>
         <div class="summary-panel summary-total-panel">
            Total: Rs. 2600
        </div>
    </div>    

    <div class="checkout-btn-panel">
           <button class="checkout-btn" routerLink="/success">Give us feedback</button>
    </div>

       <div class="partners">Meet our partners</div>

        <div class="partner-list">
            <div class="partner-item"><img width="100" height="100" src="../../../assets/tonique.jpg"/></div>
         <div class="partner-item"><img width="100" height="100" src="../../../assets/dmart.png"/></div>
          <div class="partner-item"><img width="100" height="100" src="../../../assets/rantadeep.jpg"/></div>
           <div class="partner-item"><img width="100" height="100" src="../../../assets/karachi.png"/></div>
        </div>
</div>