:host zxing-scanner::ng-deep video {
    max-height: 400px;    
    object-fit: contain;
}
:host zxing-scanner::ng-deep {
    border-style: solid;
    border-color: black;
} 

:host zxing-scanner {
	max-height: 400px;
    height: 300px;
    margin-top: 8px;
};

.qr-scanner-container { 
    overflow: auto;
   height: 100vh;
}


.qr-scanner-body {
	
}

.qr-scanner-or {
}

.demo-button {
	background-color: rgb(0, 101, 255);
    appearance: none;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 700;
    height: 2.5rem;
    padding: 0 1.5rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #0071dc;
    color: #fff;
    margin-bottom: 12px;
}

.qr-scanner-title {
	display: flex;
	font-size: 18px;
	font-family: sans-serif;
	justify-content: center;
	padding: 12px;
	font-weight: 600;
}