<div class="qr-scanner-container">
    <div class="original-value" *ngIf="!!originalValue">{{originalValue}}</div>
         <div class="qr-scanner-or qr-scanner-title"  *ngIf="scanValue && scanValue.id">Your product:&nbsp;&nbsp;<span class="product-name">{{scanValue ? scanValue.name.toUpperCase() : ''}}</span></div>
          <div class="qr-scanner-title" *ngIf="scanValue && scanValue.id">
                 <button class="demo-button" (click)="proceedCheckout()" routerLink="/cart">Proceed to cart</button>
            </div>
            <div class="qr-scanner-title">
                 Scan the QR on the product
            </div>
            <div class="qr-scanner-body">
                <zxing-scanner *ngIf="true" #scanner (scanSuccess)="scanSuccessHandler($event)">
                </zxing-scanner>
            </div>
           
</div>