<div class="qr-scanner-container">
    <div class="original-value" *ngIf="!!originalValue">
        <div class="promo-title"><b>Original value of any QR:</b></div>
        <div>{{originalValue}}</div>
    </div>
         <div class="scanned-value"  *ngIf="scanValue && scanValue.id">
             <div class="qr-scanner-or qr-scanner-title">Your scanned product:</div>
             <div class="product-name" *ngIf="scanValue && scanValue.id">{{scanValue.name.toUpperCase()}} - {{scanValue.currency}}.{{scanValue.cost}}</div>
         </div>
          <div class="qr-scanner-title" *ngIf="scanValue && scanValue.id">
            <button *ngIf="appendProducts && appendProducts.length > 0" class="demo-button" (click)="proceedCheckout()" routerLink="/cart">Proceed to cart ({{appendProducts.length}})</button>
            </div>

            <div class="qr-scanner-title">
                 Scan the QR on the product
            </div>
            <div class="qr-scanner-body">
                <zxing-scanner *ngIf="true" #scanner (scanSuccess)="scanSuccessHandler($event)">
                </zxing-scanner>
            </div>
           
</div>